@charset "utf-8";

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-ideograph;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h1 {
    text-align: center;
    margin-bottom: 58px;
    padding-top: 35px;
    border-top: 30px double #FFC56A;
    line-height: 33px;
    font-size: 28px;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 small {
    font-size: 20px;
}

h2 {
    margin: 2px 0px;
    text-align: center;
    border-top: 2px solid #D9FAFF;
    border-bottom: 2px solid #D9FAFF;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.double_line {
    border-top: 2px solid #BBDBF3;
    border-bottom: 2px solid #BBDBF3;
}

h3 {
    padding: 18px 0px 12px;
    text-align: center;
    font-size: 20px;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    margin: auto;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
}

#container {
    width: 393px;
    height: auto;
    margin: 0 auto;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.header {
    width: 393px;
    height: 852px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(../img/main_visual.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#logo {
    width: 75px;
    height: 75px;
}

.hamburger {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
    width: 48px;
    height: 48px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hamburger__line {
    position: absolute;
    left: 11px;
    width: 26px;
    height: 2px;
    clear: left;
    background-color: #333;
    transition: all .4s;
}

.hamburger-grid__dot {
    width: 10%;
    height: 10%;
    margin: auto 7px;
    display: grid;
    float: left;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    background-color: #333;
    background-repeat: 2;
    border-radius: 50%;
    transition: all .4s;
}

.hamburger__line:nth-of-type(1) {
    top: 14px;
}

.hamburger-grid__dot {
    top: 23px;
}

.hamburger__line:nth-of-type(4) {
    top: 32px;
}

.hamburger.active .hamburger__line:nth-of-type(1) {
    transform: translateY(9px) rotate(-45deg);
}

.hamburger.active .hamburger-grid__dot {
    opacity: 0;
}

.hamburger.active .hamburger__line:nth-of-type(4) {
    transform: translateY(-9px) rotate(45deg);
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 2px 0 4px rgba(0, 0, 0, .1);
    transform: translateX(-100%);
    transition: transform .4s;
    z-index: 90;
}

.nav.active {
    transform: translateX(0);
}

.nav__list {
    margin: 0;
    padding: 100px 0 0;
    list-style: none;
}

.nav__item {
    padding: 0 20px;
}

.nav__link {
    display: block;
    padding: 15px 0;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #BBDBF3;
}

#title {
    padding-top: 610px;
    padding-left: 18px;
    text-align: center;
    position: absolute;
    line-height: 60px;
    color: white;
    font-size: 28px;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#title em {
    font-size: 64px;
    font-family: "Rampart One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header a img {
    width: 90%;
    margin: 5%;
    padding-top: 690px;
}

.main {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.contents {
    width: 393px;
    margin: 63px 0;
    clear: left;
}

#summary #summary_about {
    padding: 0px 24px 35px;
    border-bottom: 30px double #FFC56A;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.game_1 {
    width: 360px;
    height: auto;
    margin: 26px auto 0px;
    padding-top: 6px;
    border-top: 2px solid #BBDBF3;
    border-bottom: 8px solid #BBDBF3;
}

.game_1 i img {
    width: 12px;
    margin-top: 8px;
    margin-right: 4px;
    margin-left: 80%;
    float: left;
}

.game_2 {
    width: 175px;
    height: 293px;
    margin: 17px 5.5px 30px;
    padding-top: 6px;
    border-top: 2px solid #BBDBF3;
    border-bottom: 8px solid #BBDBF3;
    float: left;
}

.game_2 i img {
    width: 12px;
    margin-top: 8px;
    margin-right: 4px;
    margin-left: 60%;
    float: left;
}

#group {
    margin-left: 10.5px;
}

.game_about {
    width: 96%;
    height: auto;
    margin: auto;
}

.game_about p {
    font-size: 14px;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.game_about i {
    font-size: 10px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

a img {
    width: 90%;
    margin: 5%;
    clear: left;
}

.checkBtn {
    display: none;
}

#label-container {
    width: 344px;
    height: 50px;
    margin: 30px auto -15px;
    text-align: center;
    font-size: 14px;
}

#hoge1Label {
    height: 50px;
    padding: 15px 57px 15px 57px;
    background-color: #D9FAFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.3s;
}

#hoge2Label {
    height: 50px;
    padding: 15px 50px 15px 50px;
    background-color: #BBDBF3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.3s;
}

#left-container {
    width: 345px;
    height: 292px;
    margin: 0 auto;
    text-align: center;
    background-color: #D9FAFF;
    border-bottom: none;
    transition: 0.2s;
}

#right-container {
    display: none;
    width: 345px;
    height: 292px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #BBDBF3;
    border-bottom: none;
    transition: 0.2s;
}

.inquiry {
    width: 345px;
    height: auto;
    margin: auto;
}

.inquiry #article {
    height: 292px;
    clear: left;
}

.inquiry table {
    width: 300px;
    margin: auto;
    padding-top: 20px;
}

.inquiry table td {
    width: 50px;
    height: 50px;
}

.inquiry table th {
    padding: 20px 0 20px 20px;
    text-align: left;
    font-size: 20px;
}

.inquiry #content {
    padding-bottom: 45px;
    font-size: 12px;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.contact table {
    width: 345px;
    margin: auto;
    margin: 23px auto 75px;
    font-size: 14px;
}

.contact table,
.contact th,
.contact td {
    border: 1px solid #BBDBF3;
    border-collapse: collapse;
}

.contact table th {
    padding: 12px 10px;
    background-color: #BBDBF3;
}

.contact table td {
    height: 83px;
    padding: 5px;
    vertical-align: top;
    line-height: 200%;
}

#catch p {
    margin: 28px auto -2px;
    text-align: center;
    font-size: 24px;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#catch {
    height: 240px;
    border-top: 30px double #BBDBF3;
    border-bottom: 30px double #BBDBF3;
}

#page-top {
    position: fixed;
    right: 5px;
    bottom: 20px;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    transform: rotate(90deg);
    font-size: 90%;
    line-height: 1.5rem;
    color: #737373;
    padding: 0 0 0 35px;
    border-top: solid 1px;
}

#page-top::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 0px;
    width: 15px;
    border-top: solid 1px;
    transform: rotate(35deg);
    transform-origin: left top;
}

.foot_dec {
    width: 335px;
    margin: 0 0 30px -10px;
    background-image: url(../img/icon_parts_2.jpg);
    background-repeat: no-repeat;
    background-position: right;
    border-top: 2px solid #D9FAFF;
}

footer a {
    font-size: 14px;
    text-decoration: none;
    color: black;
}

#copy {
    width: 100%;
    text-align: center;
    background-color: #BBDBF3;
    /* ←いずれ消す */
}

#copy #logo {
    margin: 0 auto 60px;
    padding: 20px 0 60px;
}

#copy p {
    padding-bottom: 10px;
    color: white;
    font-size: 14px;
}

#copy i {
    margin: 0px 25px 13px;
    font-size: 22px;
}